.form-group{
    margin: 10px 2px;
}
img.cangiua{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    text-align: center;
}